

.portada_cronograma {
    display: flex;
    align-items: center;
    height: 200px;
    background:  url(../assets/img/tres-riccios.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    h1 {
        font-weight: 700;
        text-shadow: 2px 2px 10px $color-blanco, -2px -2px 10px $color-blanco; 
    }
}



.evento {
    display: flex;
    flex-direction: column;  
    padding: 50px;
    background: linear-gradient(#fff0d9eb, #ffffff3a);
    border: double 5px #dabb8d;
    div {
        margin-bottom: 20px;
        h2, h3 {
            text-align: center;
            margin-bottom: 50px;
        }   
    }
    img {
        border-radius: 10px;
    }    
}



@media screen and (min-width: 980px) {

    body{
        background: linear-gradient(to right, #ffffff 30%, $color-transparente), url(../assets/img/tres-riccios.jpg);
        background-size: contain;
        background-repeat: repeat;
        background-position: top;
        main {
            .portada_cronograma {
                background: none;
                height: 300px;
                justify-content: center;
               }
        }
   }
}








