/*Variables*/
@import "./base/colores";
@import "./base/fuentes";


/*Componentes*/
@import "./components/header-footer";
@import "./components/mixins";


@import "./index";
@import "./contacto";
@import "./orquesta";
@import "./actividades";

h1,
h2,
h3 {
    font-family: $fuente-encabezados;
}

p {
    font-family: $fuente-texto;
    color: $color-texto;
}

