/*Header*/

header {
    position: sticky;
    top: 0;
    background-color: #fff;

    nav {
        div {
            a {
                img {
                    width: 200px;
                }

            }

            button.navbar-toggler {
                border: none;
            }


            div {
                ul {
                    li {
                        margin-left: 5px;
        
                        a.activo {
                            text-decoration: underline;
                        }
        
                        a:hover {
                            color: #000;
                            text-shadow: 1px 1px 10px #212121;
                        }
                    }
                }
            }

        }
    }

}