/*Mixin secciones*/

@mixin portada {
    background: linear-gradient(to right, #ffffffe2 30%, $color-transparente), url(../assets/img/tres-riccios.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding: 2rem;
    text-shadow: 2px 4px 10px $color-blanco, -2px -4px 10px $color-blanco;

    h1 {
        font-weight: 700;
        margin: 100px 20px 50px;
        font-size: 2rem;
        line-height: 1em;
    }
}


@mixin portada-p ($font-size: 1.5rem) {
    width: 75%;
    margin-top: 1em;
    font-size: $font-size;
    font-weight: 600;
}

/*mixin para modelados*/

@mixin flex ($flex-direction : row,
    $flex-wrap : wrap,
    $justify-content : center,
    $align-items: center) {
    display: flex;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}

/*mixin animaciones*/

@mixin anim-temblor ($animation-duration: 0.5s,
    $animation-iteration-count: 1,
    $animation-timing-function: ease)
     {
    animation: temblor;
    animation-duration: $animation-duration;
    animation-iteration-count:  $animation-iteration-count;
    animation-timing-function: $animation-timing-function;
}