* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
color 1 -> #fff0d9
color 2 -> #d9e8ff 
*/

/*fuentes*/

h1,
h2,
h3 {
    font-family: 'Libre Franklin', sans-serif;
}

p {
    font-family: 'Arimo', sans-serif;
}




/*navegador*/
header {
    background-color: #fff;
}

.logo img {
    width: 200px;
}

.nav__ul li{
    margin-left: 5px;
}

.nav__ul li a:hover {
    color: #000;
    text-shadow: 1px 1px 10px #212121;
}

.activo {
    text-decoration: underline;
}

.navbar-toggler {
    border: none;
}

/*navegador-secundario*/


.second-nav {
    position: sticky;
    top: 0;
    background: linear-gradient(to right, #fff0d9 50%, #fff0d99e );
    z-index: 10;
    box-shadow: 0 2px 10px #000;
}


.second-nav ul li {
    padding: 10px ;
    margin-left: 50px;
}

.second-nav ul li a{
    text-decoration: none;
    color: #212121;
    font-weight: 600;
}

/*body*/

.portada {

        background: linear-gradient(to right, #ffffffe2 30%, #ffffff00), url(../assets/img/tres-riccios.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        padding: 32px;
        text-shadow: 2px 4px 10px #fff, -2px -4px 10px #fff;
}


h1 {
    font-weight: 700;
    margin: 100px 20px 50px;
    font-size: 2rem;
    line-height: 1em;
}


.portada p {
    width: 75%;
    margin-top: 16px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #fff0d9c8 ;
    border-radius: 10px;
}

.text__section {
    width: 100%;
    background: linear-gradient(to bottom, #fff0d9e9, #faefe6 25%, #ffffff00); 
    padding: 50px 20px;
    font-weight: 600;
    line-height: 1.5em;
    color: #1e1e1e;
    font-size: 1rem;
}

/*pantallas a partir de 980px */

@media screen and (min-width: 980px) {

    .second-nav ul {
        display: flex;
    }

    body {
        background: linear-gradient(to right, #ffffff 30%, #ffffff00), url(../assets/img/tres-riccios.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
    }

    .portada {
        background: linear-gradient(to right, #ffffffe2 30%, #ffffff00);
        width: 100%;
        margin: 0 auto;
        padding: 5px;
        font-weight: 600;
    }


    .portada-texto {
        width: 70%;
        min-width: 400px;
        margin: 10px 10px 60px 70px;
        padding-left: 20px;
        text-align: left;
        line-height: 2rem;
        color: #1e1e1e;
    } 
    

    .portada-texto p {
        margin-top: 1em;
        font-size: 1.3rem;
        
    }

    .text__section {
        margin: 0 auto;
        margin: auto;
        padding: 5em;
        font-size: 1.2rem;
    }


    .text__section p {
        width: 70%;
        margin: 2em;
    }

}



/*estilos del carousel*/

.instrumento-tarjeta {
    margin: 20px auto;
    width: 70%;
    height: auto;
    min-height: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #636363, -5px -5px 20px 5px #000;
    
    
}

.violin {
    background: linear-gradient(to right, #ffffff 30%, #f7bebe8b), url(../assets/img/voluta-apoyo-blanco.png) no-repeat right;
}


.viola {
    background: linear-gradient(to right, #fafafa 30%, #f7bebe8b), url(../assets/img/violinyviola.jpg)  right;
}


.violoncello {
    background: linear-gradient(to right, #ffffff 30%, #f7bebe8b), url(../assets/img/un-violoncello-1000x666.jpg) no-repeat right;
}


.contrabajo {
    background: linear-gradient(to right, #ffffff 30%, #f7bebe42), url(../assets/img/contrabajo-señor2.png) no-repeat right;
}


.piano {
    background: linear-gradient(to right, #000000 30%, #f7bebe8b), url(../assets/img/piano-camping.jpg) no-repeat right;
    color: #fff;
}