* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
color 1 -> #fff0d9
color 2 -> #d9e8ff 
color 3? -> #FFA317
color 3? -> #9D1B27
*/

/*fuentes*/

h1,
h2,
h3 {
    font-family: 'Libre Franklin', sans-serif;
}


/*navegador*/

header {
    position: sticky;
    top: 0;
    background-color: #fff;
}

.logo img {
    width: 200px;
}

.nav__ul li{
    margin-left: 5px;
}

.nav__ul li a:hover {
    color: #000;
    text-shadow: 1px 1px 10px #212121;
}

.activo {
    text-decoration: underline;
}

.navbar-toggler {
    border: none;
}

/*body*/


h1 {
    font-weight: 700;
}


body {
   
    background-image: url(../assets/img/tres-riccios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    
    
}

@media screen and (min-width:620px) {

    body {
   
        background-image: url(../assets/img/tres-riccios.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        
        
    }
    
}





h1 {
    
    text-align: center;
    text-shadow: 2px 2px 10px #fff, -2px -2px 10px #fff; 
    
}


form {
    margin: 25px auto;
    width: 90%;
    max-width: 500px;
    padding: 1em;
    border: 1px solid #00000077; 
    border-radius: 10px;
    background-color: #ffffffdd;
    font-family: 'Arimo', sans-serif;

}

form input::placeholder {
    color: #5e5e5e;
    font-style: italic;
}


.datoscontacto {
    margin: 1em;
    display: block;
    width: auto;
}

input.datoscontacto, textarea {
    padding: 10px;
    font-weight: 600;
}

.form__div-checkbox {
    margin: 1em;
    padding: 1em;
    
}

h3 {
    margin-bottom: 1em;
}

.form__div-checkbox input {
    
    margin: 0.5em;
}


label.mensaje {
    margin-left: 1em;
    font-weight: 600;
}

textarea {
    margin: 1em;
    margin-top: 0;
    display: block;
    width: 95%;
    height: 6em;
}

input[type="submit"] {
    padding: 10px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #0054ba;
    color: #fff;
    
}

.contacto_ul {
    display: inline-block;
    background-color: #fff0d9;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    box-shadow: 4px 4px 10px #000;
}

.contacto_ul a {
    text-decoration: none;
    color: #000;
}

.contacto_ul li {
    list-style: none;
    margin: 10px;
}