* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
color 1 -> #fff0d9
color 2 -> #d9e8ff 
*/

/*fuentes*/

h1,
h2,
h3 {
    font-family: 'Libre Franklin', sans-serif;
}

p {
    font-family: 'Arimo', sans-serif;
}


/*navegador*/

.nav__ul li{
    margin-left: 5px;
}

.nav__ul li a:hover {
    color: #000;
    text-shadow: 1px 1px 10px #212121;
}

.activo {
    text-decoration: underline;
}

/*body*/

.portada {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 980px) {


    body{
        background: linear-gradient(to right, #ffffff 30%, #ffffff00), url(../assets/img/tres-riccios.jpg);
        background-size: contain;
        background-repeat: repeat;
        background-position: top;
   }

   .portada {
    height: 300px;
    justify-content: center;
   }

  
}


@media screen and (max-width: 979px) {

    .portada {
        height: 200px;
        background:  url(../assets/img/tres-riccios.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        
    
    }
    
}

h1 {
    text-shadow: 2px 2px 10px #fff, -2px -2px 10px #fff; 
}

h2, h3 {
    text-align: center;
    margin-bottom: 50px;
}

.evento {
    display: flex;
    flex-direction: column;  
    padding: 50px;
    background: linear-gradient(#fff0d9eb, #ffffff3a);
    border: double 5px #dabb8d;
   
}
.evento div {
    margin-bottom: 20px;
    
}

img {
    border-radius: 10px;
}