* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
color 1 -> #fff0d9
color 2 -> #d9e8ff 
color 3? -> #FFA317
color 3? -> #9D1B27
*/

/*fuentes*/

h1,
h2,
h3 {
    font-family: 'Libre Franklin', sans-serif;
}

p {
    font-family: 'Arimo', sans-serif;
}


/*navegador*/

.nav__ul li {
    margin-left: 5px;
}

.nav__ul li a:hover {
    color: #000;
    text-shadow: 1px 1px 10px #212121;
}

.activo {
    text-decoration: underline;
}

/* contenido */


.italic {
    font-style: italic;
    font-weight: 500;
}

/* Movile */

.portada {

    background: linear-gradient(to right, #ffffffe2 30%, #ffffff00), url(../assets/img/tres-riccios.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding: 2rem;
    text-shadow: 2px 4px 10px #fff, -2px -4px 10px #fff;
}

h1 {
    font-weight: 700;
}

.portada p {
    width: 75%;
    margin-top: 1em;
    font-size: 1.5rem;
    font-weight: 600;

}



.section__div {
    width: 100%;
    padding: 2rem;
    background: linear-gradient(to bottom, #fff0d9e9, #faefe6 25%, #ffffff00);
    color: #1e1e1e;   
}

.descripcion a {
    color: #1e1e1e;
}

.descripcion a.focus {
    color: #0054ba;
}

p.italic {
    padding: 10px;
    background-color: #ffe9d8e6;
    border-radius: 10px;
}

.abajo {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-color: #000;
}

.boton_la-orquesta {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: auto;
    width: 300px;
    border-radius: 5px;
    background-color: #2e4eeccc;
    text-align: center;
    padding: 5px;
}

.boton_la-orquesta a {
    text-decoration: none;
    color: #fff9f4;
    font-size: 3em;
}

/*Pantallas a partir de 576px*/

@media screen and (min-width: 980px) {


    body {
        background: linear-gradient(to right, #ffffff 30%, #ffffff00), url(../assets/img/tres-riccios.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
    }

    .portada {
        background: linear-gradient(to right, #ffffffe2 30%, #ffffff00);
    }

}



@media screen and (min-width: 576px) {

    .portada {
        width: 100%;
        min-height: 500px;
        margin: 0 auto;
        padding: 5px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        font-weight: 600;
        

    }

    h1 {
        margin: 100px 20px 50px;
        font-size: 2rem;
        line-height: 1em;

    }

    .portada p {
        margin-top: 1em;
        font-size: 1.5rem;

    }

    .portada-texto {
        width: 50%;
        min-width: 400px;
        margin: 10px 10px 60px 70px;
        padding-left: 1.25rem;
        text-align: left;
        line-height: 1.5em;
        color: #1e1e1e;
    }


    /* secciones */


    .section__div {
        width: 100%;
        margin: auto;
        background: linear-gradient(to bottom, #fff0d9e9, #faefe6 25%, #ffffff00);
        color: #1e1e1e;

    }

    .section__div h2 {
        font-size: 2em;
    }

    .descripcion {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    .descripcion-texto {
        width: 50%;
        min-width: 600px
    }

    .descripcion-texto p {
        margin-top: 2em;
        font-size: 1.5em;
    }

    
    .descripcion-img {
        float: right;
        width: 500px;
        margin: 20px;
    }

    

    .descripcion-img img {
        width: 100%;
    }


}