/*Variables*/
/*Componentes*/
/*Header*/
header {
  position: sticky;
  top: 0;
  background-color: #fff;
}
header nav div a img {
  width: 200px;
}
header nav div button.navbar-toggler {
  border: none;
}
header nav div div ul li {
  margin-left: 5px;
}
header nav div div ul li a.activo {
  text-decoration: underline;
}
header nav div div ul li a.activo:hover {
  text-shadow: none;
}
header nav div div ul li a:hover {
  color: #000;
  text-shadow: 1px 1px 10px #0054ba;
}

@keyframes temblor {
  0% {
    transform: rotate(-0.5deg);
  }
  25% {
    transform: rotate(0.5deg);
  }
  50% {
    transform: rotate(-0.5deg);
  }
  75% {
    transform: rotate(0.5deg);
  }
  100% {
    transform: rotate(-0.5deg);
  }
}
/*Mixin secciones*/
/*mixin para modelados*/
/*mixin animaciones*/
/* contenido */
/* Movile */
.index__portada {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8862745098) 30%, rgba(255, 255, 255, 0)), url(../assets/img/tres-riccios.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding: 2rem;
  text-shadow: 2px 4px 10px #fff, -2px -4px 10px #fff;
  /*Solo el INDEX */
}
.index__portada h1 {
  font-weight: 700;
  margin: 100px 20px 50px;
  font-size: 2rem;
  line-height: 1em;
}
.index__portada p {
  width: 75%;
  margin-top: 1em;
  font-size: 1.5rem;
  font-weight: 600;
}

/*INDEX */
.section__div {
  width: 100%;
  padding: 2rem;
  background: linear-gradient(to bottom, #fff0d9, #faefe6 25%, rgba(255, 255, 255, 0));
  color: #1e1e1e;
}
.section__div div.descripcion div.descripcion-texto p.italic {
  padding: 10px;
  background-color: rgba(255, 233, 216, 0.9019607843);
  border-radius: 10px;
  font-style: italic;
  font-weight: 500;
}
.section__div div.descripcion div.descripcion-texto a {
  color: #1e1e1e;
  font-style: italic;
  font-weight: 500;
}
.section__div div.descripcion div.descripcion-texto a.focus {
  text-decoration: none;
  color: #0054ba;
  transition: text-shadow 1s;
}
.section__div div.descripcion div.descripcion-texto a.focus:hover {
  text-shadow: 1px 1px 20px #0054ba;
}
.section__div div.descripcion div.descripcion-texto div.descripcion-img {
  margin: 20px;
}

.abajo {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  background-color: #000;
}
.abajo div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  margin: auto;
  width: 300px;
  border-radius: 5px;
  background-color: rgba(46, 78, 236, 0.8);
  text-align: center;
  padding: 5px;
}
.abajo div a {
  text-decoration: none;
  color: #fff;
  font-size: 3em;
}
.abajo div:hover {
  animation: temblor;
  animation-duration: 0.5s;
  animation-iteration-count: 3;
  animation-timing-function: ease;
}

/*Pantallas a partir de 576px*/
@media screen and (min-width: 980px) {
  body {
    background: linear-gradient(to right, #fff 30%, rgba(255, 255, 255, 0)), url(../assets/img/tres-riccios.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }
  .index__portada {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8862745098) 30%, rgba(255, 255, 255, 0));
  }
}
@media screen and (min-width: 576px) {
  .index__portada {
    width: 100%;
    min-height: 500px;
    margin: 0 auto;
    padding: 5px;
    font-weight: 600;
  }
  .index__portada div {
    width: 50%;
    min-width: 400px;
    margin: 10px 10px 60px 70px;
    padding-left: 1.25rem;
    text-align: left;
    line-height: 1.5em;
    color: #1e1e1e;
  }
  .index__portada div p {
    margin-top: 1em;
    font-size: 1.5rem;
  }
  /* secciones */
  .section__div h2 {
    font-size: 2em;
  }
  .section__div div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .section__div div div.descripcion-texto {
    width: 50%;
    min-width: 600px;
  }
  .section__div div div.descripcion-texto p {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.5em;
  }
  .section__div div div.descripcion-img {
    width: 500px;
    margin: 20px;
  }
  .section__div div div.descripcion-img img {
    width: 100%;
  }
}
.orquesta__portada {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8862745098) 30%, rgba(255, 255, 255, 0)), url(../assets/img/tres-riccios.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding: 2rem;
  text-shadow: 2px 4px 10px #fff, -2px -4px 10px #fff;
}
.orquesta__portada h1 {
  font-weight: 700;
  margin: 100px 20px 50px;
  font-size: 2rem;
  line-height: 1em;
}
.orquesta__portada div.portada-texto p {
  width: 75%;
  margin-top: 1em;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
  background-color: rgba(250, 239, 230, 0.4980392157);
  border-radius: 10px;
}

.text__section {
  width: 100%;
  background: linear-gradient(to bottom, #fff0d9, #faefe6 25%, rgba(255, 255, 255, 0));
  padding: 50px 20px;
  font-weight: 600;
  line-height: 1.5em;
  color: #1e1e1e;
  font-size: 1rem;
}
.text__section div.orquesta__img {
  margin: 20px;
  width: 95%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.text__section div.orquesta__img img {
  width: 85%;
  min-width: 400px;
  box-shadow: 0 0 5px #000;
}
.text__section div.video {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
}
.text__section div.video div.iframe {
  margin: 20px;
  width: 45%;
  min-width: 300px;
  height: 300px;
}
.text__section div.video div.iframe iframe {
  width: 100%;
  height: 300px;
}

/*pantallas a partir de 980px */
@media screen and (min-width: 980px) {
  body {
    background: linear-gradient(to right, #fff 30%, rgba(255, 255, 255, 0)), url(../assets/img/tres-riccios.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }
  body .orquesta__portada {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8862745098) 30%, rgba(255, 255, 255, 0));
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    font-weight: 600;
  }
  body .orquesta__portada div.portada-texto {
    width: 70%;
    min-width: 400px;
    margin: 10px 10px 60px 70px;
    padding-left: 20px;
    text-align: left;
    line-height: 2rem;
    color: #1e1e1e;
  }
  body .orquesta__portada div.portada-texto p {
    margin-top: 1em;
    font-size: 1.3rem;
    background: none;
  }
  .text__section {
    margin: 0 auto;
    margin: auto;
    padding: 5em;
    font-size: 1.2rem;
  }
  .text__section p {
    width: 70%;
    margin: 2em;
  }
}
.second-nav {
  background: linear-gradient(to right, #fff 50%, rgba(255, 255, 255, 0));
  z-index: 10;
}
.second-nav ul {
  list-style: none;
}
.second-nav ul li {
  padding: 10px;
  margin-left: 50px;
}
.second-nav ul li a {
  text-decoration: none;
  color: #1e1e1e;
  font-weight: 600;
  transition: text-decoration 1s;
}
.second-nav ul li a:hover {
  text-decoration: underline;
}

/*body*/
.actividades__portada {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8862745098) 30%, rgba(255, 255, 255, 0)), url(../assets/img/tres-riccios.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding: 2rem;
  text-shadow: 2px 4px 10px #fff, -2px -4px 10px #fff;
}
.actividades__portada h1 {
  font-weight: 700;
  margin: 100px 20px 50px;
  font-size: 2rem;
  line-height: 1em;
}

.text__section {
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 240, 217, 0.9137254902), #faefe6 25%, rgba(255, 255, 255, 0));
  padding: 50px 20px;
  font-weight: 600;
  line-height: 1.5em;
  color: #1e1e1e;
  font-size: 1rem;
}
.text__section h2 {
  margin-bottom: 100px;
}
.text__section h3 {
  text-align: center;
  margin: 100px auto;
}
.text__section p {
  margin: 10px;
  width: 70%;
  min-width: 250px;
}
@media screen and (max-width: 620px) {
  .text__section p {
    width: 50%;
  }
}
.text__section p a {
  font-style: italic;
  color: #1e1e1e;
}
.text__section p a.focus {
  text-decoration: none;
  color: #0054ba;
  transition: text-shadow 1s;
}
.text__section p a.focus:hover {
  text-shadow: 1px 1px 20px #0054ba;
}
.text__section ul {
  margin-left: 50px;
  margin-bottom: 100px;
}
.text__section div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
.text__section div p {
  width: 50%;
  min-width: 250px;
}
.text__section div .actividades__img {
  width: 40%;
  min-width: 270px;
}
.text__section div .actividades__img img {
  width: 100%;
}

/*pantallas a partir de 980px */
@media screen and (min-width: 980px) {
  body {
    background: linear-gradient(to right, #fff 30%, rgba(255, 255, 255, 0)), url(../assets/img/tres-riccios.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }
  body main .actividades__portada {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8862745098) 30%, rgba(255, 255, 255, 0));
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    font-weight: 600;
  }
  body main .second-nav {
    position: sticky;
    top: 161.41px;
  }
  body main .second-nav ul {
    display: flex;
  }
  body main .text__section {
    display: block;
    margin: 0 auto;
    margin: auto;
    padding: 5em;
    font-size: 1.2rem;
  }
}
.portada_cronograma {
  display: flex;
  align-items: center;
  height: 200px;
  background: url(../assets/img/tres-riccios.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.portada_cronograma h1 {
  font-weight: 700;
  text-shadow: 2px 2px 10px #fff, -2px -2px 10px #fff;
}

.evento {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background: linear-gradient(rgba(255, 240, 217, 0.9215686275), rgba(255, 255, 255, 0.2274509804));
  border: double 5px #dabb8d;
}
.evento div {
  margin-bottom: 20px;
}
.evento div h2, .evento div h3 {
  text-align: center;
  margin-bottom: 50px;
}
.evento img {
  border-radius: 10px;
}

@media screen and (min-width: 980px) {
  .coronograma__body {
    background: linear-gradient(to right, #ffffff 30%, rgba(255, 255, 255, 0)), url(../assets/img/tres-riccios.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-position: top;
  }
  .coronograma__body main .portada_cronograma {
    background: none;
    height: 300px;
    justify-content: center;
  }
}
/*body*/
.contacto__body {
  background-image: url(../assets/img/tres-riccios.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.contacto__body h1 {
  font-weight: 700;
  margin-left: 50px;
}

@media screen and (min-width: 620px) {
  .contacto__body {
    background-image: url(../assets/img/tres-riccios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
  .contacto__body h1 {
    text-align: center;
    text-shadow: 2px 2px 10px #fff, -2px -2px 10px #fff;
  }
}
form {
  margin: 25px auto;
  width: 90%;
  max-width: 500px;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.4666666667);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8666666667);
  font-family: "Arimo", sans-serif;
}
form input ::placeholder {
  color: #5e5e5e;
  font-style: italic;
}
form input.datoscontacto {
  padding: 10px;
  font-weight: 600;
  margin: 1em;
  display: block;
  width: auto;
}
form div.form__div-checkbox {
  margin: 1em;
  padding: 1em;
}
form div.form__div-checkbox h2 {
  margin-bottom: 1em;
}
form div.form__div-checkbox input {
  margin: 0.5em;
}
form label.mensaje {
  margin-left: 1em;
  font-weight: 600;
}
form textarea {
  padding: 10px;
  font-weight: 600;
  margin: 1em;
  margin-top: 0;
  display: block;
  width: 95%;
  height: 6em;
}
form input[type=submit] {
  padding: 10px;
  font-weight: 600;
  border-radius: 10px;
  background-color: #0054ba;
  color: #fff;
}

.contacto_ul {
  display: inline-block;
  background-color: #fff0d9;
  padding: 20px;
  border-radius: 0 10px 10px 0;
  box-shadow: 4px 4px 10px #000;
  transition: box-shadow 1s;
}
.contacto_ul li {
  list-style: none;
  margin: 10px;
}
.contacto_ul a {
  text-decoration: none;
  color: #000;
}

.contacto_ul:hover {
  box-shadow: 4px 4px 10px #fff;
}

h1,
h2,
h3 {
  font-family: "Libre Franklin", sans-serif;
}

p {
  font-family: "Arimo", sans-serif;
  color: #1e1e1e;
}

/*# sourceMappingURL=styles.css.map */
